[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
python-dotenv = "*"
mysqlclient = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
flask-bcrypt = "*"
marshmallow = "*"
flask-marshmallow = "*"

[dev-packages]

[requires]
python_version = "3.12"
